<mat-toolbar color="primary">
    <span> You Tube</span>
</mat-toolbar>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="you-tube"></mat-icon> You Tube
        </ng-template>
        <p>
            <app-you-tube></app-you-tube>
        </p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="Itune"> </mat-icon> Itune
        </ng-template>
        <h1>ITunes Available Shortly</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Social Media
        </ng-template>
        <h1> Social Media Available Shortly </h1>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            News Feed
        </ng-template>
        <h1> News Feed Available Shortly </h1>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            News Post
        </ng-template>
        <h1> News Post Available Shortly </h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>